@use "../../mixins/mixins" as *;
@use "../../variables" as *;
@include respond-to('laptop') {
    .interactive-banner-style-06 {
        .interactive-banners-content {
            transform: translateY(calc(100% - 110px));
        }
    }
}